nav.footer-nav
  ul.footer-links
    li.footer-link
      a(href="/") training notes
p.footer-icon-credit
  | Icons made by 
  a(
    href='https://www.freepik.com'
    title='Freepik'
    rel="noopener"
  ) Freepik
  |  from 
  a(
    href='https://www.flaticon.com/'
    title='Flaticon'
    rel="noopener"
  ) www.flaticon.com
  |  is licensed by 
  a(
    href='http://creativecommons.org/licenses/by/3.0/'
    title='Creative Commons BY 3.0'
    target='_blank'
    rel="noopener"
  ) CC 3.0 BY